doctype html
html
  head 
    title= Signup
  body
    form(action='/signup', method='post')
      div
        label Email:
        input(type='text', name='email')
      div
        label Password:
        input(type='password', name='password')
      button(type='submit') Signup
