extends ../base
block head
  title Log In
block body
  form(action="login", method="post")
    include ../includes/csrf_form_token
    div
      label Email:
      input(type="text", name="email")
    div
      label Password:
      input(type="password", name="password")
    button(type="submit") Log In
